# pip>=21.0,<23.2
homeassistant==2025.1.1

# Testing
pytest-homeassistant-custom-component==0.13.202  # Matching version for 2025.1.0
psutil-home-assistant  # Not sure why this is needed?
fnv_hash_fast  # Or this?
pytest-asyncio

colorlog==6.7.0
pre-commit==3.3.3
ruff==0.9.4
# These are duplicated in .pre-commit-config.yaml
reorder-python-imports==3.10.0
mypy==1.15.0
homeassistant-stubs==2025.1.1 # Matching HA version
types-python-slugify==8.0.0.2
voluptuous-stubs==0.1.1
# For mypy. Keep in sync with manifest.json and https://github.com/home-assistant/core/blob/master/requirements_all.txt.
pyserial==3.5
