pip>=21.0,<23.2
homeassistant==2023.5.3
colorlog==6.7.0
pre-commit==3.3.1
black==23.3.0
# These are duplicated in .pre-commit-config.yaml
reorder-python-imports==3.9.0
mypy==1.3.0
homeassistant-stubs==2023.3.0
types-python-slugify==8.0.0.2
voluptuous-stubs==0.1.1
pymodbus==3.1.3 # For mypy
